/*Yung buong header sa taas na parang div*/

#form1 {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #464646;
    top: 0px;
    left: 2px;


}
body {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #464646;
    top: 0px;
    left: 2px;

}

header {
    position: absolute;
    left: -1%;
    right: 1%;
    top: 0%;
    bottom: 94%;
    width: 100%;
    height: 61px;
    background: #3B3B3B;
}

/*Yung title na Property Tracking System label component sa c#*/
#LabelTitle {
    position: absolute;
    left: 3.82%;
    top: 34.43%;
    bottom: 36.07%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}


#PanelContentview {
    position: relative;
    width: 120px;
    height: 811px;
    left: 233px;
    top: 61px;
}

#LabelWelcome {
    position: absolute;
    width: 294px;
    height: 42px;
    left: 331px;
    top: 85px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;

    color: #FFFFFF;
}

/*Ito yung para sa Navigation Menu na nasa gilid*/
#navigation {
    position: absolute;
    width: 255px;
    height: 1024px;
    left: 0px;
    top: 0px;
    
    background: #BBFFCA;
    border-radius: 0px;
}
#ButtonDashboard {
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 91px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 20px 20px 0px;
    color: #000000;
    right: 1293px;
    bottom: 912px;

}
#ButtonRequestitem {
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 137px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}
#ButtonItemstools{
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 183px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}
#ButtonBorrowedhistory{
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 229px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}
#ButtonReports{
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 275px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}

