/*Yung buong header sa taas na parang div*/
body {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #464646;
}
#form1 {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #464646;
}

header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 100%;
    height: 61px;
    background: #3B3B3B;
}

#PanelContent {
    position: absolute;
    width: 1185px;
    height: 607px;
    left: 255px;
    top: 62px;

}

/*Yung title na Property Tracking System label component sa c#*/
#LabelTitle {
    position: absolute;
    left: 3.82%;
    top: 34.43%;
    bottom: 36.07%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}
/*Logout Button natin*/
#ButtonLogout {
    position:absolute;
    width:91px;
    height:26.63px;
    left:86.39%;
    right:7.29%;
    top:27.87%;
    bottom:28.47%;

    background:#D9D9D9;
    border-radius:14.8px;
}
/*Ito yung para sa Navigation Menu na nasa gilid*/
#navigation {
    position: absolute;
    width: 255px;
    height: 1024px;
    left: 0px;
    top: 0px;
    
    background: #8DF8FF;
    border-radius: 0px;
}
#ButtonDashboard {
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 91px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
    right: 1293px;
    bottom: 912px;
}
#ButtonRequestitem {
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 137px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}
#ButtonItemstools{
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 183px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}
#ButtonBorrowedhistory{
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 229px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}
#ButtonBorrowers{
    position: absolute;
    width: 245px;
    height: 37px;
    left: 0px;
    top: 275px;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    border-radius: 0px 20px 20px 0px;
    color: #000000;
}

#LabelRequestform {
    position:absolute;
    width: 242px;
    height: 42px;
    left: 314px;
    top: 94px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;

    color: #FFFFFF;
    right: 884px;
}

#SectionContent {
   position: absolute;
    width: 1067px;
    height: 486px;
    left: 314px;
    top: 160px;

    background: rgba(88, 88, 88, 0.99);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/*
    Borrower Info: text sa taas sa may section
*/
#LabelBorrowerinfo{
    
    position: absolute;
    width: 215px;
    height: 24px;
    left: 46px;
    top: 23px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

}
/*
    Item info text sa taas katabi ng borrowers sa section
*/
#LabelIteminfo{
    
    position: absolute;
    width: 168px;
    height: 24px;
    left: 450px;
    top: 23px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;

}

/*
    Lastname Label and Textbox
*/
#LabelLastname {
    position: absolute;
    width: 86px;
    height: 22px;
    left: 91px;
    top: 167px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}
#TextBoxLastname{
    position: absolute;
    width: 326px;
    height: 48px;
    left: 74px;
    top: 194px;

    
    color:#FFFFFF;
    padding-left:29px;
    box-sizing:border-box;
    border-color:transparent;
    background: rgba(138, 138, 138, 0.18);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*
    Requested Item label and Dropdownlist
*/
#LabelRequesteditem{
    position: absolute;
    width: 137px;
    height: 22px;
    left: 488px;
    top: 63px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}
#DropDownListRequesteditem{
    position: absolute;
    width: 509px;
    height: 48px;
    left: 474px;
    top: 90px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    background: rgba(138, 138, 138, 0.18);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.col {
    background-color: #3B3B3B;
    color:white;
}

/*
    Firstname label and textbox
*/
#LabelFirstname{
    position: absolute;
    width: 88px;
    height: 22px;
    left: 91px;
    top: 271px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}

#TextBoxFirstname{
    position: absolute;
    width: 326px;
    height: 48px;
    left: 74px;
    top: 298px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    border-color:transparent;
    background: rgba(138, 138, 138, 0.18);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;


}

/*
    Item Code label and textbox component
*/

#LabelItemcode{
    position: absolute;
    width: 90px;
    height: 22px;
    left: 488px;
    top: 167px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}

#TextBoxItemcode{
    position: absolute;
    width: 347px;
    height: 48px;
    left: 474px;
    top: 194px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    background: rgba(138, 138, 138, 0.18);
    border-color:transparent;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*
    Quantity label and dropdown list component
*/
#LabelQuantity{
    position: absolute;
    width: 85px;
    height: 22px;
    left: 850px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;
}
#DropDownListQuantity{
    position: absolute;
    width: 141px;
    height: 48px;
    left: 842px;
    top: 195px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    background: rgba(138, 138, 138, 0.18);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*
    ID number label and textbox component
*/
#LabelId {
    position: absolute;
    width: 102px;
    height: 22px;
    left: 91px;
    top: 63px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}
#TextBoxId {
    position: absolute;
    width: 326px;
    height: 48px;
    left: 74px;
    top: 90px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    border-color:transparent;
    background: rgba(138, 138, 138, 0.18);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


/*
    Return Time label and calendar component
*/
#LabelReturntime{
    position: absolute;
    width: 106px;
    height: 22px;
    left: 485px;
    top: 274px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}
#TextBoxReturntime{
    position: absolute;
    width: 298px;
    height: 48px;
    left: 474px;
    top: 301px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    background: rgba(138, 138, 138, 0.18);
    border-color:transparent;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


/*
    Trans No. label and textbox component
*/
#LabelTransno{
    position: absolute;
    width: 83px;
    height: 22px;
    left: 812px;
    top: 274px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
}
#TextBoxTransno{
    position: absolute;
    width: 190px;
    height: 48px;
    left: 793px;
    top: 301px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    background: rgba(138, 138, 138, 0.18);
    border-color:transparent;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*
    Not Yet Registered Hyperlink Component
*/

#HyperLink {
    position: absolute;
    width: 133px;
    height: 17px;
    left: 91px;
    top: 410px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-decoration-line: underline;

    color: #FFFFFF;
}

/*
    Request Button component
*/
#ButtonRequest{
    position: absolute;
    width: 190px;
    height: 48px;
    left: 582px;
    top: 392px;

    background: rgba(255, 255, 255, 0.84);
    border-color:transparent;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*
    Cancel Button component
*/
#ButtonCancel{
    position: absolute;
    width: 190px;
    height: 48px;
    left: 793px;
    top: 392px;

    background: rgba(0, 0, 0, 0.42);
    border-color:transparent;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color:white;
}

/*
    Validators ko
*/

/*Request Item Validator*/
#requesteditemValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 502px;
    top: 143px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;

}

/*Lastname Validator*/
#lastnameValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 97px;
    top: 247px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;
}
/*Item Code Validator*/
#itemcodeValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 502px;
    top: 247px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;
}
/*Quantity Validator*/
#listquantityValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 854px;
    top: 248px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;
}
/*ID Validator*/
#idValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 97px;
    top: 143px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;

}
/*Firstname Validator*/
#firstnameValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 97px;
    top: 352px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;


}
/*Return Time Validator*/
#returntimeValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 500px;
    top: 354px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;

}
/*Trans no Validator*/
#transnoValidator{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 821px;
    top: 354px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */


    color: #FF000F;
}



