body {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #464646;
}
#form1 {
    position: relative;
    width: 1440px;
    height: 1024px;
    margin: 0px;
    background: #464646;
}
/*
    Header and title sa taas ng ating web app
*/
header {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 95%;
    width: 100%;
    height: 61px;
    background: #3B3B3B;
}
#LabelTitle {
    position: absolute;
    left: 3.82%;
    top: 34.43%;
    bottom: 36.07%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
    
}

/*
    Then dito naman yung ating mga components
*/

/*Login Label natin*/
#LabelLogin {
    position: absolute;
    width: 102px;
    height: 39px;
    left: 239px;
    top: 51px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #FFFFFF;

}


/*Section Login natin*/
#SectionLogin{
    position: absolute;
    width: 579px;
    height: 527px;
    left: 431px;
    top: 102px;

    background: #585858;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

/*Username Label, Textbox, and Validator Component*/
#LabelUsername {
    position: absolute;
    width: 95px;
    height: 22px;
    left: 75px;
    top: 123px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}

#TextBoxUsername {
    position: absolute;
    width: 447px;
    height: 48px;
    left: 66px;
    top: 153px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    border-color:transparent;
    background: rgba(138, 138, 138, 0.18);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#usernameValidator {
    position: absolute;
    width: 72px;
    height: 18px;
    left: 89px;
    top: 210px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FF3C47;

}

/*Password Label, Textbox, and Validator Component*/
#LabelPassword {
    position: absolute;
    width: 91px;
    height: 22px;
    left: 75px;
    top: 240px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #FFFFFF;

}

#TextBoxPassword {
    position: absolute;
    width: 447px;
    height: 48px;
    left: 60px;
    top: 267px;

    color:white;
    padding-left:29px;
    box-sizing:border-box;
    border-color:transparent;
    background: rgba(138, 138, 138, 0.18);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

#passwordValidator {
    position: absolute;
    width: 72px;
    height: 18px;
    left: 89px;
    top: 324px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #FF3C47;

}

/*Register Button Component*/
#ButtonRegister {
    position: absolute;
    width: 218px;
    height: 48px;
    left: 66px;
    top: 385px;

    color:white;
    border-color:transparent;
    background: rgba(0, 0, 0, 0.42);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*Login Button Component*/
#ButtonLogin {
    position: absolute;
    width: 218px;
    height: 48px;
    left: 295px;
    top: 385px;

    color:black;
    border-color:transparent;
    background: rgba(255, 255, 255, 0.84);
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}